<settings>
	<!--
	If you prefer to relocate your local repository to somewhere other than ~.m2/repository
	then uncomment the <localrepository/> tag below and specify your location.
	<localRepository>c:/relocated/maven/repository</localRepository>
	-->
	<mirrors>
		<mirror>
			<id>nexus</id>
			<!-- !cadi,!cadi-gso -->
			<mirrorOf>*,!rim2e,!maven-restlet,!alfresco-proxy,!ssf,!maven-releases,!maven-hazelcast,!essdsdp-3rd-party,!cadi,!cadi-gso,!m2eProcessor,!csi,!ecomp_aai,!osd-3rd-party,!eci-3rd-party,!2020SAPC</mirrorOf>
			<url>http://mavencentral.it.att.com:8084/nexus/content/groups/swm</url>
			<!-- <url>http://mavencentral.it.att.com:8084/nexus/content/groups/csi</url> -->
		</mirror>
		<mirror>
			<id>nexusrestlet</id>
			<mirrorOf>maven-restlet</mirrorOf>
			<url>http://mavencentral.it.att.com:8084/nexus/content/repositories/restlet-releases
			</url>
		</mirror>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://mavencentral.it.att.com:8084/nexus/content/groups/ecomp_aai</url>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>nexus</id>
			<!-- Enable snapshots for the built in central repo to direct -->
			<!-- all requests to nexus via the mirror -->
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
						<!--
						<updatePolicy>always</updatePolicy>
						<updatePolicy>never</updatePolicy>
						<updatePolicy>daily</updatePolicy>
						<updatePolicy>interval:in minutes</updatePolicy>
						-->
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<!--
						<updatePolicy>always</updatePolicy>
						<updatePolicy>never</updatePolicy>
						<updatePolicy>daily</updatePolicy>
						<updatePolicy>interval:30</updatePolicy>
						-->
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>nexus-csi</id>
			<!-- Enable snapshots for the built in central repo to direct -->
			<!-- all requests to nexus via the mirror -->
			<repositories>
				<repository>
					<id>csi</id>
					<url>http://mavencentral.it.att.com:8084/nexus/content/groups/csi</url>
					<releases>
						<enabled>true</enabled>
						<!--
						<updatePolicy>always</updatePolicy>
						<updatePolicy>never</updatePolicy>
						<updatePolicy>daily</updatePolicy>
						<updatePolicy>interval:in minutes</updatePolicy>
						-->
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<!--
						<updatePolicy>always</updatePolicy>
						<updatePolicy>never</updatePolicy>
						<updatePolicy>daily</updatePolicy>
						<updatePolicy>interval:30</updatePolicy>
						-->
					</snapshots>
				</repository>
				<repository>
					<id>ecomp_aai</id>
					<url>http://mavencentral.it.att.com:8084/nexus/content/groups/ecomp_aai</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>2020SAPC</id>
					<url>http://mavencentral.it.att.com:8084/nexus/content/groups/2020SAPC</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>csi</id>
					<url>http://mavencentral.it.att.com:8084/nexus/content/groups/csi</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>nexus-ecomp_aai</id>
			<repositories>
				<repository>
					<id>ecomp_aai</id>
					<url>http://mavencentral.it.att.com:8084/nexus/content/groups/ecomp_aai</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>sonar</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<!-- SERVER ON A REMOTE HOST -->
				<sonar.host.url>http://10.147.107.156:9000</sonar.host.url>
				<sonar.jdbc.url>jdbc:h2:tcp://10.223.41.156:9092/sonar</sonar.jdbc.url>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<!-- make the profile active all the time -->
		<activeProfile>nexus</activeProfile>
		<activeProfile>nexus-csi</activeProfile>
		<activeProfile>nexus-ecomp_aai</activeProfile>
	</activeProfiles>
	<pluginGroups>
		<!-- define the sonatype plugin group, so the nexus plugins will work without typing the groupId-->
		<pluginGroup>org.sonatype.plugins</pluginGroup>
	</pluginGroups>
	<servers>
		<server>
			<id>nexus</id>
			<username>m92680</username>
			<password>t3b8r8j4s8</password>
		</server>
		<server>
			<id>ecomp_aai</id>
			<username>m92680</username>
			<password>t3b8r8j4s8</password>
		</server>
		<server>
			<id>swm</id>
			<username>m97870</username>
		</server>
	</servers>
</settings>